/*color*/
$primary-color: #1fa2ff;
$second-color: #5d5f77;
$color-light-gray-line: rgba(93, 95, 119, 0.15);
$color-light-blue-background: rgba(31, 162, 255, 0.05);

$primary-gradient-color: linear-gradient(#0573fe 40%, #2fd3f6);
$second-gradient-color: linear-gradient(#0573fe 1%, #2fd3f6);

/*font*/
$font-size-medium: 1.125rem;
$font-size-medium-small: 0.93rem;
$font-size-small: 0.875rem;

$font-size-medium-phone: 0.875rem;
$font-size-small-phone: 0.625rem;

$font-family: "Century Gothic", "微軟正黑體", "Microsoft JhengHei",
    "PingFang TC", Arial, "sans-serif";

/*media*/
$web-1680: 1680px;
$web-1366: 1366px;
$pad-760-media: 760px;
$phone-420-media: 420px;

@mixin web-1680-width {
    @media (max-width: $web-1680) {
        @content;
    }
}

@mixin web-1366-width {
    @media (max-width: $web-1366) {
        @content;
    }
}

@mixin pad-760-width {
    @media (max-width: $pad-760-media) {
        @content;
    }
}

@mixin phone-420-width {
    @media (max-width: $phone-420-media) {
        @content;
    }
}
