@import "./config.scss";
body{
    overflow: hidden;
    header{
        background-color: #fff;
        border-bottom: solid 1px #ddd; 
        >ul{
            padding: 1vh 2vw;
            >li{
                float: left;
                &.menu_icon{
                    float: right;
                    position: absolute;
                    right: 2vw;
                    cursor: pointer;
                    width: 20px;
                    padding: 10px 0;
                    transition: right 0.5s;
                    @include pad-width{
                        padding: 5px 0;
                        width: 15px;
                    }
                    >div{
                        height: 2px;
                        width: 100%;
                        background-color: $second-color;
                        border-radius: 2px;
                        margin: 4px 0;
                        @include pad-width{
                            height: 1px;
                        }
                    }
                }
                &.menu_icon.open{
                    right: calc(230px + 2vw);
                    @include pad-width{
                        right: calc(180px + 2vw);
                    }
                }
                >h1{
                    width: 125px;
                    height: 40px;
                    @include pad-width{
                        width: 100px;
                        height: 30px;
                    }
                }           
            }
        }
        >div.menu{
            position: absolute;
            top: 0;
            right: -230px;
            z-index: 9;
            background-color: #fff;
            border-left: solid 1px $color-light-gray-line;  
            width: 230px;
            height: 100vh;
            transition: right 0.5s;
            @include pad-width{
                width: 180px;
                right: -180px;
            }
            >ul{
                padding: 4% 10%;
                >li{
                    padding: 7% 10% 7% 35%;
                    border-bottom: solid 1px $color-light-gray-line;
                    cursor: pointer;
                    background-repeat: no-repeat;
                    background-size: 38px 38px;
                    background-position: 5% center;
                    @include pad-width{
                        font-size: $font-size-medium-phone;
                        background-size: 32px 32px;
                        padding: 7% 10% 7% 35%;
                    }
                    >a{
                        color: $second-color;
                    }
                }
                li:nth-child(1){
                    background-image: url(../img/add.svg);
                }
                li:nth-child(2){
                    background-image: url(../img/my_plan.svg);
                }
                li:nth-child(3){
                    background-image: url(../img/logout.svg);
                    letter-spacing: 34px;
                    @include pad-width{
                        letter-spacing: 26px;
                    }
                }
            }
            &.open{
                right: 0px;
            }
        }
    }
}