@import "./config.scss";

div.plantrip {
    min-height: calc(100vh - 60px);
    position: fixed;
    left: 0;
    transition: left 0.8s;
    z-index: 9;
    // width: 470px;
    &.hide {
        left: -470px;
        @include pad-760-width {
            left: -320px;
        }
    }
    &.hide_creact_plantrip {
        width: 470px;
        @include pad-760-width {
            width: 320px;
        }
    }
    > div {
        float: left;
        height: 100%;
        box-shadow: 2px 0 10px rgba(93, 95, 119, 0.1);
        background-color: #fff;
        &:nth-child(1) {
            position: relative;
            width: 470px;
            z-index: 999;
            @include pad-760-width {
                width: 320px;
            }
        }
        &:nth-child(2) {
            position: relative;
            left: 0;
            z-index: 99;
            width: 400px;
            transition: left 0.7s;
            &.hide {
                left: -400px;
            }
        }
    }
}
