@import "./config.scss";

.plantrip{
    >div.top{
        width: 100%;
        height: 290px;
        background-image: url(../img/title_bg.jpg);
        position: relative;
        @include pad-width{
            height: 197px;
            background-size:320px 197px;
        }
        >div{
            position: absolute;
            &.del{
                top: 5%;
                right: 2.5%;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                opacity: 0.6;
                cursor: pointer;
                background: url(../img/delete.svg) no-repeat center 10px;
                background-size: 13px 13px;
                background-color: rgba(0,0,0,0);
                border: solid 1px rgba(255,255,255,.5);
                transition: opacity 0.5s, background-color 0.5s;
                @include pad-width{
                    width: 40px;
                    height: 40px;
                    background-size: 10px 10px;
                    background-position-y: 8px;
                }
                >div{
                    padding-top: 18px;
                    text-align: center;
                    font-size: 10px;
                    color: #fff;
                    @include pad-width{
                        font-size: 8px;
                        padding-top: 11px;
                    }
                }
                &:hover{
                    opacity: 1;
                    background-color: rgba(0,0,0,.02);
                }
            }
        }
        >.top_text{
            bottom: 0;
            width: 100%;
            padding: 0 0.7%;
            >div.title_date{
                padding: 3.5% 4%;
                text-shadow: 2px 2px 2px rgba(0,0,0,.2);
                ul{
                    li{
                        color: #fff;
                        text-align: center;
                        width: 50%;
                        &.title{
                            font-size: 20px;
                            font-weight: 600;
                            overflow: hidden;
                            height: 32px;
                            @include pad-width{
                                font-size: $font-size-medium-phone;
                            }
                        }
                        &.date{
                            border-top: solid 1px rgba(2255,255,255,.6);
                            @include pad-width{
                                font-size: $font-size-small-phone;
                            }
                        }
                    }
                }
            }
            >div.tab{
                >ul{
                    >li{
                        float: left;
                        width: 20%;
                        padding: 1% 0;
                        color: #fff;
                        text-align: center;
                        font-size: $font-size-medium-small;
                        cursor: pointer;
                        border-radius: 10px 10px 0 0;
                        background-color: rgba(0,0,0,0);
                        border: solid 1px rgba(255,255,255,0);
                        transition: background-color 0.5s,border-color 0.5s;
                        letter-spacing: 0.5px;
                        @include pad-width{
                            font-size: $font-size-small-phone;
                        }
                        &.current{
                            background-color: #fff;
                            color: $second-color;
                            &:hover{
                                background-color: #fff; 
                            }
                        }
                        &:hover{
                            border-color: rgba(255,255,255,0.3);
                            background-color: rgba(0,0,0,0.05);
                        }
                    }
                }
            }
        }
    }
}