@import "./config.scss";

.plantrip {
    div > div.bottom {
        > div.schedule {
            padding: 1.5% 0;
            width: 100%;
            height: calc(100vh - 59px - 290px - 93px);
            overflow-y: scroll;
            &::-webkit-scrollbar-thumb {
                border-radius: 2px;
                background-color: $color-light-gray-line;
            }
            &::-webkit-scrollbar-track {
                background-color: #fff;
            }

            &::-webkit-scrollbar {
                width: 4px;
                background-color: #f5f5f5;
            }

            @include pad-width {
                height: calc(100vh - 48px - 197px - 82px);
            }
            > div {
                > h3 {
                    background-color: $primary-color;
                    border-radius: 0 20px 20px 0;
                    padding: 0 6%;
                    display: inline-block;
                    div {
                        font-size: $font-size-medium;
                        line-height: 2.5rem;
                        letter-spacing: 1px;
                        color: #fff;
                        float: left;
                        &:nth-child(1) {
                            padding-right: 35px;
                        }
                        @include pad-width {
                            font-size: $font-size-medium-phone;
                        }
                    }
                }
                > div {
                    padding: 3% 0;
                    cursor: pointer;
                    > div {
                        padding: 0 6%;
                        &.current {
                            background-color: $color-light-blue-background;
                        }
                        > ul {
                            > li {
                                float: left;
                                font-size: $font-size-medium-small;
                                @include pad-width {
                                    font-size: $font-size-medium-phone;
                                }
                            }
                            &.location {
                                > li {
                                    &.time {
                                        letter-spacing: 0;
                                        width: 50px;
                                        padding: 6px 0;
                                    }
                                    &.type_icon {
                                        padding: 2px;
                                        border-radius: 100%;
                                        border: dashed 1px $primary-color;
                                        > div {
                                            width: 40px;
                                            height: 40px;
                                            background-color: $primary-color;
                                            background-position: center center;
                                            background-repeat: no-repeat;
                                            border-radius: 100%;
                                        }
                                    }
                                    &.text {
                                        padding: 6px 0 6px 13px;
                                        width: calc(100% - 50px - 46px - 44px);
                                    }
                                    &.edit {
                                        width: 44px;
                                        height: 44px;
                                        padding: 6px;
                                        background-image: url(../img/edit.svg);
                                        opacity: 0.3;
                                        float: right;
                                        transition: opacity 0.5s;
                                    }
                                }
                            }
                        }
                        div.remarks {
                            padding-left: 73px;
                            > div {
                                border-left: dashed 1px $primary-color;
                                padding-left: 40px;
                                font-size: $font-size-small;
                                @include pad-width {
                                    font-size: $font-size-small-phone;
                                }
                                > ul {
                                    padding-bottom: 5%;
                                    > li {
                                        letter-spacing: 1px;
                                        line-height: 1.5rem;
                                        padding: 1% 0;
                                    }
                                }
                            }
                        }
                        /*transport*/
                        &.transport {
                            > ul > li.type_icon > div {
                                background-image: url(../img/transport.svg);
                            }
                            &.airplane {
                                > ul > li.type_icon > div {
                                    background-image: url(../img/transport_airplane.svg);
                                }
                            }
                            &.train {
                                > ul > li.type_icon > div {
                                    background-image: url(../img/transport_train.svg);
                                }
                            }
                            &.car {
                                > ul > li.type_icon > div {
                                    background-image: url(../img/transport_car.svg);
                                }
                            }
                        }
                        /*lodge*/
                        &.lodge {
                            > ul > li.type_icon > div {
                                background-image: url(../img/lodge.svg);
                            }
                        }
                        /*food*/
                        &.food {
                            > ul > li.type_icon > div {
                                background-image: url(../img/food.svg);
                            }
                            &.drink {
                                > ul > li.type_icon > div {
                                    background-image: url(../img/food_drink.svg);
                                }
                            }
                        }
                        /*activity*/
                        &.activity {
                            > ul > li.type_icon > div {
                                background-image: url(../img/activity.svg);
                            }
                            &.shopping {
                                > ul > li.type_icon > div {
                                    background-image: url(../img/activity_shopping.svg);
                                }
                            }
                            &.ticket {
                                > ul > li.type_icon > div {
                                    background-image: url(../img/activity_ticket.svg);
                                }
                            }
                        }
                        /*add*/
                        &.add {
                            > ul {
                                opacity: 0.6;
                                transition: opacity 0.5s;
                                > li.type_icon {
                                    > div {
                                        background-color: #fff;
                                        background-image: url(../img/add_schedule.svg);
                                        border: solid 1px $primary-color;
                                    }
                                }
                                > li.text {
                                    color: $primary-color;
                                }
                            }
                            &:hover > ul,
                            &.current > ul {
                                opacity: 1;
                            }
                        }
                        &:hover > ul > li.edit,
                        &.current > ul > li.edit{
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}
